#changePW{
	float: right;
	position: relative;
	z-index: 5000;
	top: -100px;
}


/*============================================
スライダー画像URL埋め込みショップ
============================================*/
#message_count {
	float: right;
}

div#shop1 {
	float: auto;
}

#slide-wrapper {
	width : 70%;
	margin: auto;
}

li {
	list-style: none;
}

/*============================================
サブメニュー（左カラム）
============================================*/

div#submenu {
	width  : 200px;
	/*幅の指定*/
	margin : 50px 20px 40px 30px;
	/*位置調整（IE6のバグに注意）*/
	display: inline;
	/*IE6のマージン算出のバグ対策*/
	float  : left;
	/*サブメニューのカラムを左寄せにする*/
}

/*サブメニューのヘッダ部分（余白調整・背景画像・背景色・文字サイズなど）*/
div#submenu_header {
	height             : 26px;
	padding            : 4px 0px 0px 0px;
	background-image   : url("images/bg_submenu_header.gif");
	background-repeat  : no-repeat;
	background-position: top;
	background-color   : #cccccc;
	font-size          : 90%;
	font-weight        : bold;
	text-align         : center;
}

/*サブメニューのボディ部分（余白調整・背景画像・背景色）*/
ul#submenu_body {
	padding-bottom     : 6px;
	background-image   : url("images/bg_submenu_footer.gif");
	background-repeat  : no-repeat;
	background-position: bottom;
	background-color   : #cccccc;
}

ul#submenu_body li {
	font-size      : 90%;
	/*文字サイズを90%にする*/
	list-style-type: none;
	/*リストマーカー無しにする*/
	display        : inline;
	/*リスト項目をインライン表示にする*/
}

ul#submenu_body li a {
	display         : block;
	/*リンクをブロック表示にする*/
	margin          : 0px 4px 0px 4px;
	/*サブメニュー項目のマージン*/
	padding         : 2px 0px 2px 20px;
	/*サブメニュー項目のパディング*/
	background-color: #eeeeee;
	/*サブメニュー項目の背景色*/
	text-decoration : none;
	/*リンクの下線を無くす*/
}

ul#submenu_body li a:hover {
	background-color: #ffffff;
	/*リンクにマウスが乗ったら色を変える*/
}

div#content {
	width            : 900px;
	margin           : 0 auto;
	/*内容全体をセンタリング*/
	text-align       : left;
	/*テキストの配置を左揃えにする*/
	background-repeat: repeat-y;
	/*背景画像を縦方向に繰り返す*/
	background-color : #ffffff;
	/*内容全体の背景色*/
}

/*============================================
ニュース（中央カラム）
============================================*/
div#quickpoint {
	text-align: center;
}

div#news {
	width            : 300px;
	margin           : 0 auto;
	padding-top      : 10px;
	/*幅の指定と位置調整*/
	/* float         :left;					カラムを左寄せにする */
	background-image : url("images/bar_news.gif");
	/*中央カラムの背景画像*/
	background-repeat: no-repeat;
	/*背景画像を繰り返さない*/
}

/*見出し・段落・水平線のスタイル指定*/
h2 {
	font-size          : 100%;
	margin-bottom      : 10px;
	padding-left       : 25px;
	font-size          : 95%;
	border-bottom      : solid 1px #cccccc;
	background-image   : url("images/icon.gif");
	background-repeat  : no-repeat;
	background-position: left center;
}

h3 {
	font-size  : 90%;
	margin-left: 5px;
}

p {
	font-size  : 90%;
	margin     : 10px 0px 10px 10px;
	text-indent: 10px;
}

hr {
	height       : 1px;
	border       : solid 1px #cccccc;
	margin-bottom: 30px;
}


/*============================================
フッタ
============================================*/
div#footer {
	height           : 42px;
	text-align       : center;
	clear            : both;
	/*回り込みを解除する*/
	background-image : url("images/bg_footer.jpg");
	/*フッタ部分の背景画像*/
	background-repeat: no-repeat;
	/*背景画像を繰り返さない*/
	background-color : #9da8e7;
	/*フッタ部分の背景色*/
}

address {
	font-style: normal;
	/*フォントスタイルを標準にする*/
	font-size : auto;
	/*フォントサイズを小さくする*/
	padding   : 50px 0px 5px 100px;
	/*要素内容の位置調整*/
}