/*枠デザイン*/
.profile_box {
    font-size: 14px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 2em 0;
    background: #dcefff; /*内容の背景色*/
}

.profile_box .box-title {
    font-size: 18px;
    line-height:1.8;
    background: #5fb3f5; /*タイトルの背景色*/
    padding: 4px;
    text-align: center;
    color: #FFF; /*文字色*/
    font-weight: bold;
    letter-spacing: 0.05em;
}

    /*内容*/
.profile_center{
    text-align: center;
    margin: 10px 15px 0 0;
}

    /*プロフィール画像*/
.profile_figure {
    width:150px;
    height:150px;
    border-radius: 50%; /*丸くする*/
    border: solid 3px #5fb3f5; /*枠線*/
}

    /*名前*/
.profile_name {
    padding: 15px 20px;
    font-weight:bold;
    font-size:16px;
}

    /*自己紹介文*/
.profile_box p {
    position: relative;
    background-color: #FFF;
    padding: 3.0rem 1.5rem;
    border: 6px double #000;
    word-wrap: break-word;
}



    /*リスト*/
.profile_box ul {
    padding: 0.5em 1em 0.5em 2.3em;
    border: 3px dotted #000;
    border-color: cadetblue;
    position: relative;
}

.profile_box ul li {
    line-height: 1.5;
    padding: 0.5em 0;
    list-style-type: none!important;
}

.profile_box ul li:before {
    content: "\f138";/*アイコンの種類*/
    font-family: "Font Awesome 5 Free";
    font-weight:900;
    position: absolute;
    left : 1em;/*左端からのアイコンまでの距離*/
    color: skyblue;/*アイコン色*/
}

.profile_box h2 {
    font-size: 14px;
    color:#000000;
    border: none;
}

*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}


.btn,
a.btn,
button.btn {
    font-size: 1.3rem;
    font-weight: 700;
    line-height: 1.5;
    position: relative;
    display: inline-block;
    padding: 1rem 4rem;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    letter-spacing: 0.1em;
    color: #212529;
    border-radius: 0.5rem;
    font-size: 100%;/*rem算出をしやすくするために*/
}

.btn--orange,a.btn--orange {
    color: #fff;
    background-color: #eb6100;
    }
    .btn--orange:hover,
    a.btn--orange:hover {
    color: #fff;
    background: #f56500;
    }
    
    a.btn--radius {
    border-radius: 100vh;
}
@import "https://use.fontawesome.com/releases/v5.13.0/css/all.css";

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}



.btn,
a.btn,
button.btn {
  font-size: 100%;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color:white;
  border-radius: 0.5rem;
}

a.btn-custom01 {
  margin-bottom: 0.5rem;
  padding: 0;
  border-radius: 0.75rem;
}

a.btn-custom01:before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 100%;

  content: "";
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: translate3d(0, 0.75rem, -1rem);
  transform: translate3d(0, 0.75rem, -1rem);

  border: 2px solid #000;
  border-radius: inherit;
  background: #5b7be2;
  -webkit-box-shadow: 0 0.6rem 0 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 0.6rem 0 0 rgba(0, 0, 0, 0.2);
}

a.btn-custom01:after {
  font-family: "Font Awesome 5 Free";
  font-size: 2rem;
  font-weight: normal;
  line-height: 1;
  position: absolute;
  top: calc(50% - 1rem);
  left: 1.5rem;
  margin: 0;
  padding: 0;
  content: "\f0e0";
}

.btn-custom01-front {
  position: relative;
  display: block;
  padding: 1.5rem 5rem 1.5rem 5rem;

  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: 2px solid #000;
  border-radius: inherit;
  background: #5c8fca;
}

.fa-position-left {
  position: absolute;
  top: calc(50% - 0.5em);
  left: 1rem;
}

.fa-position-right {
  position: absolute;
  top: calc(50% - 0.5em);
  right: 1rem;
}

a.btn-custom01:hover {
  -webkit-transform: translate(0, 0.25rem);
  transform: translate(0, 0.25rem);
  background: #7374cc;
}

a.btn-custom01:hover:before {
  -webkit-transform: translate3d(0, 0.5rem, -1rem);
  transform: translate3d(0, 0.5rem, -1rem);
  -webkit-box-shadow: 0 0.35rem 0 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 0.35rem 0 0 rgba(0, 0, 0, 0.2);
}

a.btn-custom01:hover:after {
  content: "\f2b6";
}

a.btn-custom01:active {
  -webkit-transform: translate(0rem, 0.75rem);
  transform: translate(0rem, 0.75rem);
}

a.btn-custom01:active:before {
  -webkit-transform: translate3d(0, 0, -1rem);
  transform: translate3d(0, 0, -1rem);
  -webkit-box-shadow: 0 0.35rem 0 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 0.35rem 0 0 rgba(0, 0, 0, 0.2);
}

a.btn-custom01:active:after {
  content: "\f2b6";
}