/*枠デザイン*/
.profile_box{
    position: relative;
    background: #95ccff;
    box-shadow: 0px 0px 0px 5px #95ccff;
    border: dashed 2px white;
    padding: 0.2em 0.5em;
    color: #454545;
    }
    .profile_box:after{
    position: absolute;
    content: '';
    right: -7px;
    top: -7px;
    border-width: 0 15px 15px 0;
    border-style: solid;
    border-color: #65adf0 #fff #65adf0;
    box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15);
    }
    .profile_box .box-title {
    font-size: 18px;
    line-height:1.8;
    background: #65adf0; /*タイトルの背景色*/
    padding: 4px;
    text-align: center;
    color: #FFF; /*文字色*/
    font-weight: bold;
    letter-spacing: 0.05em;
    border-radius: 8px;
    }
    /*内容*/
    .profile_center{
    text-align: center;
    margin: 10px 15px 0 0;
    }
    /*プロフィール画像*/
    .profile_figure {
    width:150px;
    height:150px;
    border-radius: 50%; /*丸くする*/
    border: solid 3px #65adf0; /*枠線*/
    }
    /*名前*/
    .profile_name {
    padding: 15px 20px;
    font-weight:bold;
    font-size:16px;
    }
    /*自己紹介文*/
    .profile_box p {
    padding: 15px 20px;
    margin: 0;
    }
    /*リスト*/
    .profile_box ul {
    padding: 0.5em 1em 0.5em 2.3em;
    position: relative;
    }
    .profile_box ul li {
    line-height: 1.5;
    padding: 0.5em 0;
    list-style-type: none!important;
    }
    .profile_box ul li:before {
    font-family: "Font Awesome 5 Free";
    content: "f101";/*アイコンの種類*/
    font-weight:900;
    position: absolute;
    left : 1em;/*左端からのアイコンまでの距離*/
    color: #65adf0;/*アイコン色*/
    }