.selection-group input[type="radio"] {
    display: none;
  }
  label img {
    margin: 3px;
    padding: 8px;
  }
  
  .selection-group input[type="radio"]:checked + label img {
    background: orange;
  }