{% extends 'base.html' %}
{% load static %}
{% block custom_css %}
<link rel="stylesheet" href="{% static 'user_search.css' %}">
<link rel="stylesheet" href="{% static 'all_users.css' %}">
{% endblock %}
{% block nav %}
<li><a href="/home">Home</a></li>
<li><a href="/message">Message</a></li>
<li><a href="/point">Point</a></li>
<li><a href="/profile/{{ user.student_id }}">Profile</a></li>
<li><a href="/user_search">Search</a></li>
<li><a href="/settings">Settings</a></li>
<li  class="fh5co-active"><a href="/management">Management</a></li>
<li><a href="/logout">Logout</a></li>
{% endblock %}
{% block content %}
<script>
function to_delete(student_id){

	// 「OK」時の処理開始 ＋ 確認ダイアログの表示
	if(window.confirm('削除してよろしいですか')){
		location.href = "/super_delete/" + student_id; // example_confirm.html へジャンプ
	}
}
</script>
<div id="fh5co-main">
    <div class="fh5co-narrow-content">
        <h2 class="fh5co-heading responsive-center">User Search</h2>
        <form method="POST">
            {% csrf_token %}
            <table class="form-table">
                <tbody>
                <tr>
                    <th>学年</th>
                    <td>
                        {{ form.grade_id }}
                    </td>
                </tr>
                <tr>
                    <th>クラス</th>
                    <td>
                        {{ form.class_id }}
                    </td>
                </tr>
                </tbody>
            </table>
            <p style="margin: 20px"><button type="submit" style="text-align: center;">検索</button></p>
        </form>
        <div class="row row-bottom-padded-md">
            {% for usr in users %}
            <div class="col-md-3 col-sm-6 col-padding">
                    <div class="blog-entry">
                        {% if usr.delete_flag %}
                            {% if user.dark_mode %}
                                <div class="desc" style="background: black;">
                            {% else %}
                                <div class="desc" style="background: rgb(230, 230, 230);">
                            {% endif %}
                        {% else %}
                        <div class="desc">
                        {% endif %}
                        <a href="/profile/{{ usr.student_id }}">
                            <h3>{{usr.username}}</h3>
                        </a>
                            <span><small>{{usr.grade_id}} 年 {{usr.class_id}} 組 </small></span>
                            <object><a href="/super_edit/{{ usr.student_id }}"><button>編集</button></a></object>
                        {% if usr.delete_flag %}
                        {% else %}
                            <object><button  onClick="to_delete({{usr.student_id}})">削除</button></object>
                        {% endif %}
                        </div>
                    </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
