{% load static %}

<!doctype html>
<html>

<head>
  <title>chain_gift</title>
  <link rel="stylesheet" href="{% static 'base.css' %}">
  <link rel="stylesheet" href="{% static 'home.css' %}">
  <link rel="stylesheet" href="{% static 'jquery.bxslider.css' %}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
  <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>

  <script type="text/javascript">
    $(document).ready(function () {
      $('.slider').bxSlider({
        auto: true,
        pause: 5000,
      });
    });
  </script>

</head>

<body>
  <div id="pagebody">
    <a href="#">
      <img src="{% static 'images/chain2.png' %url 'home' %}" width="140" height="50"
      alt="Parrots">
    </a>
    
    
    <button mat-icon-button>
      <mat-icon class="icon">新しい通知</mat-icon>
      <span class="badge">5</span>
    </button>

    <div class="box_area">
      <ul class="menu">
        <li><a href="{% url 'home' %}">プロフィール</a>
            {% if user.is_authenticated %}
            <ul>
              <li><a class="nav-link" href="{% url 'logout' %}">
                <i class="fa fa-fw fa-sign-out"></i>ログアウト</a>
              </li>
            </ul>
        </li>
        <li><a href="{% url 'message' %}">メッセージ</a></li>
        <li><a href="{% url 'point' %}">ポイント </a>
          <ul>
            <li><a href="">ショップ</a></li>
            <li><a href="">ポイント確認</a></li>
          </ul>
        </li>
        <li> <a href="{% url 'user_search' %}">ユーザー検索</a></li>
        
      </ul>
      {% endif %}
    </div>
    <br><br>

  </div>
  {% block content %}
  {% endblock %}

</body>

</html>



