{% load static %}

<!doctype html>
<html>

<head>
    <title>chain_gift</title>
    <link rel="stylesheet" href="{% static 'base.css' %}">
    <link rel="stylesheet" href="{% static 'home.css' %}">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Anton">
  
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Neucha">

</head>

<body>
    <div id="wrapper">

        <h1>わりまんTV</h1>
        <h2>A Pen by <a href="http://www.andrecortellini.com" target="_blank">André Cortellini</a></h2>
    
        <div id="slider-wrap">
          <ul id="slider">
            <li data-color="#1abc9c">
              <div>
                <h3>Slide #1</h3>
                <span>Sub-title #1</span>
              </div>
              <i class="fa fa-image"></i>
            </li>
    
            <li data-color="#3498db">
              <div>
                <h3>Slide #2</h3>
                <span>Sub-title #2</span>
              </div>
              <i class="fa fa-gears"></i>
            </li>
    
            <li data-color="#9b59b6">
              <div>
                <h3>Slide #3</h3>
                <span>Sub-title #3</span>
              </div>
              <i class="fa fa-sliders"></i>
            </li>
    
            <li data-color="#34495e">
              <div>
                <h3>Slide #4</h3>
                <span>Sub-title #4</span>
              </div>
              <i class="fa fa-code"></i>
            </li>
    
            <li data-color="#e74c3c">
              <div>
                <h3>Slide #5</h3>
                <span>Sub-title #5</span>
              </div>
              <i class="fa fa-microphone-slash"></i>
            </li>
    
    
          </ul>
    
          <!--controls-->
          <div class="btns" id="next"><i class="fa fa-arrow-right"></i></div>
          <div class="btns" id="previous"><i class="fa fa-arrow-left"></i></div>
          <div id="counter"></div>
    
          <div id="pagination-wrap">
            <ul>
            </ul>
          </div>
          <!--controls-->
    
        </div>
    
      </div>
    {% if user.is_authenticated %}
    <div id="pagebody">
        <a href="#">
            <img src="{% static 'images/chain2.png' %url 'home' %}" width="140" height="50" alt="Parrots">
        </a>


        <button mat-icon-button>
            <mat-icon class="icon">新しい通知</mat-icon>
            <span class="badge">5</span>
    </button>

        <div class="box_area">
            <ul class="menu">
                <li><a href="{''}">プロフィール</a>
                    <ul>
                        <li>
                            <a class="nav-link" href="{% url 'logout' %}">
                                <i class="fa fa-fw fa-sign-out"></i>ログアウト</a>
                        </li>
                    </ul>
                </li>
                <li><a href="{% url 'message' %}">メッセージ</a></li>
                <li><a href="{''}">ポイント </a>
                    <ul>
                        <li><a href="">ショップ</a></li>
                        <li><a href="">ポイント確認</a></li>
                    </ul>
                </li>
                <li> <a href="{% url 'user_search' %}">ユーザー検索</a></li>

            </ul>
            
        </div>
        <br><br>

    </div>
    {% block content %}
    {% endblock %}
    
    {% endif %}
</body>

</html>