{% extends 'base.html' %}
{% block nav %}
<li class="fh5co-active"><a href="/home">Home</a></li>
<li><a href="/message">Message</a></li>
<li><a href="/point">Point</a></li>
<li><a href="/profile/{{ user.student_id }}">Profile</a></li>
<li><a href="/user_search">Search</a></li>
<li><a href="/settings">Settings</a></li>
{% if user.is_superuser %}
<li><a href="/management">management</a></li>
{% endif %}
<li><a href="/logout">Logout</a></li>
{% if not user.is_superuser %}
<li><h4>{{total}} pt</h4></li>
<li><h5>新しいメッセージ {{ not_notified_message_count }}件</h5></li>
{% endif %}
{% endblock %}

{% block content %}

<div id="fh5co-main">
    <div class="fh5co-narrow-content">
        <h2 class="fh5co-heading animate-box responsive-center" data-animate-effect="fadeInLeft">Services</h2>
        <div class="row">

            <div class="col-md-6">
                <a href="">
                <div class="fh5co-feature animate-box dark-block" data-animate-effect="fadeInLeft">
                    <div class="fh5co-icon" style="padding-top: 20px">
                        <i class="icon-params"></i>
                    </div>
                    <div class="fh5co-text" style="padding-top: 15px;">
                        <h4>Expertise</h4>
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
                    </div>
                </div>
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
