{% extends 'base.html' %}
{% block nav %}
<li><a href="/home">Home</a></li>
<li><a href="/message">Message</a></li>
<li><a href="/point">Point</a></li>
{% if not user.is_superuser %}
<li><a href="/profile/{{ user.student_id }}">Profile</a></li>
<li><a href="/user_search">Search</a></li>
<li class="fh5co-active"><a href="/grades">Grades</a></li>
{% endif %}
{% if user.is_superuser %}
<li><a href="/settings">Settings</a></li>
<li><a href="/management">management</a></li>
{% endif %}
<li><a href="/logout">Logout</a></li>
{% if not user.is_superuser %}
<li><h4>{{total}} pt</h4></li>
<li><h5>新しいメッセージ {{ not_notified_message_count }}件</h5></li>
{% endif %}
{% endblock %}

{% block content %}

<div id="fh5co-main">
    <div class="fh5co-narrow-content">
        <h2 class="fh5co-heading animate-box responsive-center" data-animate-effect="fadeInLeft">結果</h2>
        <div class="row">
            {% for test in tests %}
                <div class="col-md-6">
                    <div class="fh5co-feature animate-box dark-block" data-animate-effect="fadeInLeft">
                        <div class="fh5co-icon" style="padding-top: 10px">
                            <i class="icon-params"></i>
                        </div>
                        <div class="fh5co-text" style="padding-top: 15px;">
                            <h4 style="margin-bottom: 20px;">{{ test.title }}</h4>
                            <object><a href="/grades/detail/{{ test.id }}" class="lead btn btn-primary" style="color: white; margin:0 80px 15px">結果はこちら</a></object>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
