{% extends 'base.html' %}
{% block nav %}
    <li class="fh5co-active"><a href="/home">Home</a></li>
    <li><a href="/message">Message</a></li>
    <li><a href="/point">Point</a></li>
	{% if not user.is_superuser %}
    <li><a href="/profile/{{ user.student_id }}">Profile</a></li>
    <li><a href="/user_search">Search</a></li>
	<li><a href="/grades">Grades</a></li>
	{% endif %}
    {% if user.is_superuser %}
	<li><a href="/settings">Settings</a></li>
    <li><a href="/management">management</a></li>
    {% endif %}
	<li><a href="/logout">Logout</a></li>
	{% if not user.is_superuser %}
    <li><h4>{{total}} pt</h4></li>
	<li><h5>新しいメッセージ {{ not_notified_message_count }}件</h5></li>
	{% endif %}
{% endblock %}

{% block content %}

		<div id="fh5co-main">
			<aside id="fh5co-hero" class="js-fullheight">
				<div class="flexslider js-fullheight">
					<ul class="slides">
					{% if user.dark_mode %}
				   	<li style="background-image: url(/media/img_bg_3.jpg);">
					{% else %}
					<li style="background-image: url(/media/img_bg_1.jpg);">
					{% endif %}
				   		<div class="overlay"></div>
				   		<div class="container-fluid">
				   			<div class="row">
					   			<div class="col-md-8 col-md-offset-2 text-center js-fullheight slider-text responsive-top">
					   				<div class="slider-text-inner">
										   <h1 style="font-family: 'fantasy';">MONTHLY RANKING</h1>
										   <h2 style="font-family: 'fantasy';">ランキングを確認してみよう！</h2>
											<p><a class="btn btn-primary btn-demo popup-vimeo responsive-btn" href="/ranking"> <i class="icon-monitor"></i> 詳細はこちら</a> </p>
					   				</div>
					   			</div>
					   		</div>
				   		</div>
				   	</li>
					{% if user.dark_mode %}
                    <li style="background-image: url(/media/img_bg_3.jpg);">
                  	{% else %}
                  	<li style="background-image: url(/media/img_bg_1.jpg);">
                    {% endif %}
				   		<div class="overlay"></div>
				   		<div class="container-fluid">
				   			<div class="row">
					   			<div class="col-md-8 col-md-offset-2 text-center js-fullheight slider-text responsive-top">
					   				<div class="slider-text-inner">
										   <h1 style="font-family: 'fantasy';">shop</h1>
										   <h2 style="font-family: 'fantasy';">ポイントを交換してみよう！</h2>
											<p><a class="btn btn-primary btn-demo popup-vimeo responsive-btn" href="/shop"> <i class="icon-monitor"></i>詳細はこちら </a> </p>
					   				</div>
					   			</div>
					   		</div>
				   		</div>
				   	</li>
				  	</ul>
			  	</div>
			</aside>

			<div id="get-in-touch">
				<div class="fh5co-narrow-content">
					<div class="row">
						<div class="col-md-4 animate-box" data-animate-effect="fadeInLeft">
						</div>
					</div>
					<div class="row">
						<div class="col-md-6 col-md-offset-3 col-md-pull-3 animate-box" data-animate-effect="fadeInLeft">
							{% if not request.user.is_superuser %}
							<h2 class="fh5co-lead responsive-center" style="margin: 0 auto">myQRコード</h2>
							{% endif %}
						</div>

					</div>
				</div>
			</div>
			<img class="img-responsive" src="/media/{{ user.qr_img }}" alt="" class="qr_img" style="max-width: 250px; max-height: 250px; margin: 0 auto;">
			<div class="fh5co-narrow-content">
				
			</div>
			
		</div>
{% endblock %}
