{% extends "base.html" %} {% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'home.css' %}">
{% if not_notified_message_count %}
<a href="/message" id="message_count">{{ not_notified_message_count }}件のメッセージがあります</a>
{% endif %}

<div id="slide-wrapper">
  <div class="slider">
    <div class="slide">
      <a href="{% url 'point' %}">
        <img src="{% static 'images/borupen.jpg' %}" width="1200" height="300" alt="please">
      </a>
    </div>
    <a href="{% url 'point' %}">
      <img src="{% static 'images/borupen1.jpg' %}" width="1200" height="300" alt="please">
    </a>
    <a href="{% url 'point' %}">
      <img src="{% static 'images/eraser.jpg' %}" width="1200" height="300" alt="please">
    </a>
  </div>
</div>

<div>保有ポイント</div>
<p>{{total}}</p>

{% endblock content %}