{% extends 'base.html' %}
{% block nav %}
<li><a href="/home">Home</a></li>
<li><a href="/message">Message</a></li>
<li><a href="/point">Point</a></li>
<li><a href="/settings">Settings</a></li>
<li class="fh5co-active"><a href="/management">management</a></li>
<li><a href="/logout">Logout</a></li>
{% endblock %}

{% block content %}

<div id="fh5co-main">
    <div class="fh5co-narrow-content">
        <h2 class="fh5co-heading responsive-center">ユーザー管理</h2>
        <div class="row row-bottom-padded-md">
            <a href="/signup">
                <div class="col-md-3 col-sm-6 col-padding">
                    <div class="blog-entry">
                        <div class="desc">
                            <h3>ユーザー新規作成</h3>
                            <span><small>機能説明</small></span>
                            <p class="desc-p">一般ユーザーの作成</p>
                            <br>
                            <p></p>
                            <object><a href="#" class="lead btn btn-primary" style="color: white">使い方はこちら</a></object>
                        </div>
                    </div>
                </div>
            </a>
            <a href="/all_users">
                <div class="col-md-3 col-sm-6 col-padding">
                    <div class="blog-entry">
                        <div class="desc">
                            <h3>ユーザー編集</h3>
                            <span><small>機能説明</small></span>
                            <p class="desc-p">全ユーザーの検索</p>
                            <p class="desc-p">全ユーザー情報の編集</p>
                            <object><a href="#" class="lead btn btn-primary" style="color: white">使い方はこちら</a></object>
                        </div>
                    </div>
                </div>
            </a>
            <a href="/super_point">
                <div class="col-md-3 col-sm-6 col-padding">
                    <div class="blog-entry">
                        <div class="desc">
                            <h3>ポイント配布</h3>
                            <span><small>機能説明</small></span>
                            <p class="desc-p">ポイントの一斉配布</p>
                            <br>
                            <p></p>
                            <object><a href="#" class="lead btn btn-primary" style="color: white">使い方はこちら</a></object>
                        </div>
                    </div>
                </div>
            </a>
            <a href="/grades/top">
                <div class="col-md-3 col-sm-6 col-padding">
                    <div class="blog-entry">
                        <div class="desc">
                            <h3>成績管理</h3>
                            <span><small>機能説明</small></span>
                            <p class="desc-p">ユーザーの成績入力</p>
                            <p class="desc-p">ユーザーの成績閲覧</p>
                            <p></p>
                            <object><a href="#" class="lead btn btn-primary" style="color: white">使い方はこちら</a></object>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
{% endblock %}
