{% extends 'base.html' %}
{% load static %}
{% block nav %}
    <link rel="stylesheet" href="{% static 'point.css' %}">
    <li><a href="/home">Home</a></li>
    <li><a href="/message">Message</a></li>
    <li class="fh5co-active"><a href="/point">Point</a></li>
    <li><a href="/profile/{{ user.student_id }}">Profile</a></li>
    {% if user.is_superuser %}
    <li><a href="/all_users">All Users</a></li>
    {% else %}
    <li><a href="/user_search">Search</a></li>
    {% endif %}
    <li><a href="/shop">Shop</a></li>
    <li><a href="/logout">Logout</a></li>
    <li><h4>{{total}} pt</h4></li>
{% endblock %}
{% block content %}
    <div id="fh5co-main">
         <div class="fh5co-narrow-content">
         <h2 class="fh5co-heading animate-box" data-animate-effect="fadeInLeft" style="padding-bottom:0; margin-bottom: 0; font-size:1.5em;">Point</h2>
         </div>
         <div class="tab_container">
              <input id="tab1" type="radio" name="tab_item" checked>
              <label class="tab_item" for="tab1">受信</label>
              <input id="tab2" type="radio" name="tab_item">
              <label class="tab_item" for="tab2">送信</label>
              <div class="tab_content" id="tab1_content">
                   <div class="tab_content_description">
                        <p class="c-txtsp">


                        <div class="fh5co-narrow-content">
                             <div class="row row-bottom-padded-md">
                                  {% for value in receive %}
                                  <div class="col-md-3 col-sm-6 col-padding text-center animate-box">
                                       <div class="work image-popup" style="background: rgb(255, 236, 234); height:130px;">
                                                 <div class="" style="height: 100%;padding:15px 0 0;">
                                                      <h5><object><a href="/profile/{{ value.name.student_id }}" style="color: #000">{{ value.name }}<br></a></object></h5>
                                                      <h6 style="">{{ value.transacted_value }} pt</h6>
                                                      <span style="color: #333">{{ value.transacted_time|date:"n/j H:i"}}</span>
                                                 </div>
                                       </div>
                                  </div>
                                  {% endfor %}
                             </div>
                        </div>
                        </p>
                   </div>
              </div>
              <div class="tab_content" id="tab2_content">
                   <div class="tab_content_description">
                        <p class="c-txtsp">

                        <div class="fh5co-narrow-content">
                             <div class="row row-bottom-padded-md">
                                  {% for value in send %}
                                  <div class="col-md-3 col-sm-6 col-padding text-center animate-box">
                                       <div class="work image-popup" style="background: rgb(255, 236, 234); height:130px;">
                                            <div class="" style="height: 100%;padding:15px 0 0;">
                                                 <h5><object><a href="/profile/{{ value.name.student_id }}" style="color: #000">{{ value.name }}<br></a></object></h5>
                                                 <h6 style="">{{ value.transacted_value }} pt</h6>
                                                 <span style="color: #333">{{ value.transacted_time|date:"n/j H:i"}}</span>
                                            </div>
                                       </div>
                                  </div>
                                  {% endfor %}
                             </div>
                        </div>
                        </p>
                   </div>
              </div>
         </div>
    </div>
{% endblock %}
