{% extends 'base.html' %}
{% load static %}
{% block custom_css %}
<link rel="stylesheet" href="{% static 'point.css' %}">
{% endblock %}
{% block nav %}
<li><a href="/home">Home</a></li>
<li><a href="/message">Message</a></li>
<li class="fh5co-active"><a href="/point">Point</a></li>
{% if not user.is_superuser %}
<li><a href="/profile/{{ user.student_id }}">Profile</a></li>
<li><a href="/user_search">Search</a></li>
<li><a href="/grades">Grades</a></li>
{% endif %}
{% if user.is_superuser %}
<li><a href="/settings">Settings</a></li>
<li><a href="/management">management</a></li>
{% endif %}
<li><a href="/logout">Logout</a></li>
{% if not user.is_superuser %}
<li style="margin-bottom: 10px">送信専用ポイント {{only_send}} pt</li>
<li style="margin-bottom: 10px">購入可能ポイント {{can_buy_total}} pt</li>
<li style="margin-bottom: 10px">新しいメッセージ {{ not_notified_message_count }}件</li>
{% endif %}
{% endblock %}
{% block content %}
    <div id="fh5co-main">
         <div class="fh5co-narrow-content">
         <h2 class="fh5co-heading animate-box responsive-center" data-animate-effect="fadeInLeft" style="padding-bottom:0; margin-bottom: 0; font-size:1.5em;">Point</h2>
         </div>
         <div class="tab_container animate-box" data-animate-effect="fadeInLeft">
              <input id="tab1" type="radio" name="tab_item" checked>
              <label class="tab_item" for="tab1">受信</label>
              <input id="tab2" type="radio" name="tab_item">
              <label class="tab_item" for="tab2">送信</label>
              <div class="tab_content" id="tab1_content">
                   <div class="tab_content_description">
                       <div class="fh5co-narrow-content" style="padding-top: 0px">
                             <div class="row row-bottom-padded-md">
                                  {% for value in receive %}
                                  <div class="col-md-3 col-sm-6 col-padding text-center animate-box">
                                       <div class="work image-popup" style="height: 130px">
                                                 <div class="" style="height: 100%;padding:15px 0 0;">
                                                      <h5><object><a href="/profile/{{ value.name.student_id }}" class="message-link">{{ value.name }}<br></a></object></h5>
                                                      <h6 style="">{{ value.transacted_value }} pt</h6>
                                                      <span>{{ value.transacted_time|date:"n/j H:i"}}</span>
                                                 </div>
                                       </div>
                                  </div>
                                  {% endfor %}
                             </div>
                        </div>
                        </p>
                   </div>
              </div>
              <div class="tab_content" id="tab2_content">
                   <div class="tab_content_description">

                        <div class="fh5co-narrow-content" style="padding-top: 0px">
                             <div class="row row-bottom-padded-md">
                                  {% for value in send %}
                                  <div class="col-md-3 col-sm-6 col-padding text-center animate-box">
                                       <div class="work image-popup" style="height: 130px">
                                            <div class="" style="height: 100%;padding:15px 0 0;">
                                                 <h5><object><a href="/profile/{{ value.name.student_id }}" class="message-link">{{ value.name }}<br></a></object></h5>
                                                 <h6 style="">{{ value.transacted_value }} pt</h6>
                                                 <span>{{ value.transacted_time|date:"n/j H:i"}}</span>
                                            </div>
                                       </div>
                                  </div>
                                  {% endfor %}
                             </div>
                        </div>
                        </p>
                   </div>
              </div>
         </div>
    </div>
{% endblock %}
