{% extends "base.html" %} {%load static%}
{% block content %}

<link rel="stylesheet" href="{% static 'profile.css' %}">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
    integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <title>プロフィール</title>
    <meta name="description" content="プロフィール">
</head>

<body>
    <div class="profile_box">

        <body>
        {% if not user.is_authenticated %}
        <p><a href="/login">ログイン</a>してChainGiftをはじめる</p>
        {% endif %}
            <div class="box-title">プロフィール</div>
            <div class="profile_center">
                {% if user.profile_img and self_user %}
                <img src="/media/{{ img_url }}" alt="" class="profile_figure">
                {% else %}
                <img src="{% static 'images/power.jpeg' %}" alt="なかやまのプロフィール画像" class="profile_figure">
                {% endif %}
                <div class="profile_name">{{ username }}</div>
            </div>
            <div class="profile_box ul">
                <div class="profile_box ul li">
                    <ul>
                        <li>学年 クラス：{{grade_id}}-{{class_id}}</li>
                        {% if birth_day %}
                        <li>誕生日：{{ birth_day }}</li>
                        {% endif %}

                    </ul>
                </div>
            </div>
            <h2 class="profile_box h2" style="text-align:left">プロフィールメッセージ</h2>
            <div class="profile_box p" style="white-space:pre-line;">
                <p>
                    {{ profile }}
                </p>
            </div>
            {% if self_user %}
            <a href="/profile/edit/{{ user.pk }}" class="btn btn--orange">編集</a>
            {% elif user.is_authenticated %}
            <form method="post">
                {% csrf_token %}
                <div>
                    <h2>chenpo</h2>
                    <div>
                        メッセージ: <input size="100" type="text" name="message"><br>
                        ポイント: <input id="send_amount" type="text" name="amount"><br>
                        <a class="btn btn-custom01">
                            <input type="submit" class="btn-custom01-front" value="send">
                            <i class="fas fa-angle-right fa-position-right"></i>
                        </a>
                    </div>
                </div>
            </form>

            {% endif %}
        </body>
    </div>
</body>

</html>
{% endblock content %}