{% extends "base.html" %} {%load static%}
{% block content %}
<link rel="stylesheet" href="{% static 'profile.css' %}">
<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <title>プロフィール</title>
    <meta name="description" content="プロフィール">
</head>

<div class="profile_box">

    <body>
        <div class="box-title">プロフィール</div>
        <div class="profile_center">
            <img src="{% static 'images/power.jpeg' %}" alt="なかやまのプロフィール画像" class="profile_figure">
            <div class="profile_name">にいさん</div>
        </div>
        <ul>
            <li>氏名：きんに君</li>
            <li>学年 クラス：2-1</li>
            <li>性別：男</li>
            <li>誕生日：12月13日</li>
        </ul>
        <hr noshade>
        <p>ひとこと</p>
        <p>
            アーノルドシュワル。。。ｐu..ぷー！！
        </p>
        <INPUT TYPE="SUBMIT" VALUE="編集">
    </body>
</div>

</html>
{% endblock content %}