{% extends 'base.html' %}
{% load static %}
{% block custom_css %}
<link rel="stylesheet" href="{% static 'point.css' %}">
{% endblock %}
{% block nav %}
    <li class="fh5co-active"><a href="/home">Home</a></li>
    <li><a href="/message">Message</a></li>
    <li><a href="/point">Point</a></li>
	{% if not user.is_superuser %}
    <li><a href="/profile/{{ user.student_id }}">Profile</a></li>
    <li><a href="/user_search">Search</a></li>
	<li><a href="/grades">Grades</a></li>
	{% endif %}
    {% if user.is_superuser %}
	<li><a href="/settings">Settings</a></li>
    <li><a href="/management">management</a></li>
    {% endif %}
	<li><a href="/logout">Logout</a></li>
	{% if not user.is_superuser %}
    <li><h4>{{total}} pt</h4></li>
	<li><h5>新しいメッセージ {{ not_notified_message_count }}件</h5></li>
	{% endif %}
{% endblock %}
{% block content %}
<div id="fh5co-main">
    <div class="fh5co-narrow-content">
        <h2 class="fh5co-heading animate-box responsive-center" data-animate-effect="fadeInLeft" style="padding-bottom:0; margin-bottom: 0; font-size:1.5em;">ポイントランキング</h2>
    </div>
    <div class="tab_container animate-box" data-animate-effect="fadeInLeft">
        <input id="tab1" type="radio" name="tab_item" checked>
        <label class="tab_item" for="tab1">受信</label>
        <input id="tab2" type="radio" name="tab_item">
        <label class="tab_item" for="tab2">送信</label>
        <div class="tab_content" id="tab1_content">
            <div class="tab_content_description">
                <div class="fh5co-narrow-content" style="padding-top: 0px">
                    <div class="row row-bottom-padded-md">
                    {% for usr in receive_ranking %}
                        <div class="col-md-3 col-sm-6 col-padding animate-box" data-animate-effect="fadeInLeft">
                            <div class="blog-entry">
                                {% if usr.img_url %}
                                <a href="/profile/{{ usr.stu_id }}" class="blog-img"><img class="img-responsive" src="/media/{{ usr.img_url }}" alt="" style="min-height: 140px; margin: 0 auto;"></a>
                                {% else %}
                                {% if request.user.dark_mode %}
                                <a href="/profile/{{ usr.stu_id }}" class="blog-img"><img class="img-responsive" src="{% static 'images/smile_dark.png' %}" alt="profile-img" style="min-height: 140px; margin: 0 auto;"></a>
                                {% else %}
                                <a href="/profile/{{ usr.stu_id }}" class="blog-img"><img class="img-responsive" src="{% static 'images/smile.png' %}" alt="profile-img" style="min-height: 140px; margin: 0 auto;"></a>
                                {% endif %}
                                {% endif %}
                                <div class="desc">
                                    <h3 style="text-align: center">{{ usr.rank }}位</h3>
                                    <p style="text-align: center">{{ usr.username }}</p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    </div>

                </div>
            </div>
        </div>
        <div class="tab_content" id="tab2_content">
            <div class="tab_content_description">

                <div class="fh5co-narrow-content" style="padding-top: 0px">
                    <div class="row row-bottom-padded-md">
                        {% for usr in send_ranking %}
                        <div class="col-md-3 col-sm-6 col-padding animate-box" data-animate-effect="fadeInLeft">
                            <div class="blog-entry">
                                {% if usr.img_url %}
                                <a href="/profile/{{ usr.stu_id }}" class="blog-img"><img class="img-responsive" src="/media/{{ usr.img_url }}" alt="" style="min-height: 140px; margin: 0 auto;"></a>
                                {% else %}
                                {% if request.user.dark_mode %}
                                <a href="/profile/{{ usr.stu_id }}" class="blog-img"><img class="img-responsive" src="{% static 'images/smile_dark.png' %}" alt="profile-img" style="min-height: 140px; margin: 0 auto;"></a>
                                {% else %}
                                <a href="/profile/{{ usr.stu_id }}" class="blog-img"><img class="img-responsive" src="{% static 'images/smile.png' %}" alt="profile-img" style="min-height: 140px; margin: 0 auto;"></a>
                                {% endif %}
                                {% endif %}
                                <div class="desc">
                                    <h3 style="text-align: center">{{ usr.rank }}位</h3>
                                    <p style="text-align: center">{{ usr.username }}</p>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
