{% extends "base.html" %}{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <script src="https://jp.vuejs.org/js/vue.js"></script>
    <link rel="stylesheet" href="{% static 'shop.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
</head>

<body>
    <h2>すべての商品</h2>
    <div class="item">
        <ul>{% for item in data %}
            <li>
                <p class="name">{{item.name}}</p>
                <p class="price">{{item.price}}</p>
                <p class="category">{{item.category}}</p>
            </li>
        </ul>{% endfor %}
    </div>


    <div id="app">
        <ul class="sidenav">
            <li><a href="#home">すべての商品</a></li>
            <li><a href="#news">テスト1</a></li>
            <li><a href="#contact">テスト2</a></li>
            <li><a href="#about">テスト1</a></li>
        </ul>


        <div v-for="item in f_list" v-bind:key="item.id" class="item">
            <ul>
                <li>
                    <p class="name">{{item.name}}</p>
                    <p class="price">{{item.price}}</p>
                    <p class="category">{{item.category}}</p>
                </li>
            </ul>
        </div>
    </div>
    <script src="{% static 'js/shop.js' %}"></script>
</body>

</html>
{% endblock content %}