<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<title> チェンポ！！！！！</title>
</head>
<body>
<form action="#" method="post">
    <h1>新規登録</h1>
	<p>学籍番号入力：<br>
	<input type="text" name="number"></p>
	<p>クラス：<br>
	<input type="text" name="group"></p>
	<p>ふりがな：<br>
	<input type="text" name="furigana"></p>
	<p>名前：<br>
	<input type="text" name="name"></p>
	<p>メールアドレス入力：<br>
    <input type="text" name="mail"></p>
    <button type="submit" name="name" value="">登録</button>
    <button type="submit" name="back" value="">戻る</button>
</form>
</body>
</html>