{% extends 'base.html' %}
{% load static %}
{% block custom_css %}
<link rel="stylesheet" href="{% static 'super_edit.css' %}">
{% endblock %}
{% block nav %}
<li><a href="/home">Home</a></li>
<li><a href="/message">Message</a></li>
<li><a href="/point">Point</a></li>
<li><a href="/settings">Settings</a></li>
<li class="fh5co-active"><a href="/management">management</a></li>
<li><a href="/logout">Logout</a></li>
{% endblock %}

{% block content %}

<div id="fh5co-main">
    <div style="display: block; height: 5rem;"></div>
    <h4 class="login-box-msg" style="text-align:center;">ユーザー情報</h4>
    <form method="POST" class="animate-box" data-animate-effect="fadeInLeft">
        {% csrf_token %}
        <table class="form-table">
            <tbody>
            {% for field in form %}
            <tr>
                <th>{{ field.label }}</th>
                <td>
                    {{ field }}
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        <p><button type="submit" style="text-align: center;">変更</button></p>
        <p><a href="javascript:history.back()">戻る</a></p>
    </form>
</div>
{% endblock %}
